.home {

    h3 {
        font-size: em(28px);
        font-family: circular-std-bold;
        font-weight: 700;
        padding-inline-start: 14px;
        margin-block: 10px;
        display: inline-block;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }


}