* {
    box-sizing: border-box;
}

html {
    color: $clr1;
}

body {
    margin: 0 auto;
    font-family: circular-std-light;
    font-size: rem(14px);
    background-color: $bgclr1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}