.side-bar {
    margin-inline-end: 8px;
    display: grid;
    grid-template-rows: 112px 1fr;


    nav {
        background-color: $bgclr2;
        border-radius: 8px;
        margin-block-end: 8px;
        display: flex;
        flex-direction: column;
    }
}