@font-face {
    font-family: circular-std;
    src: url(fonts/CircularStd-Black.otf);
}

@font-face {
    font-family: circular-std-bold;
    src: url(fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: circular-std-light;
    src: url(fonts/CircularStd-Light.otf);
}

@font-face {
    font-family: helvetica-neue;
    src: url(fonts/Helvetica-Neue-Light.otf);
}