// Colors
$clr1: #ffffff;
$clr2: #b3b3b3;

$bgclr1: rgb(0, 0, 0);
$bgclr2: #121212;
$bgclr3: #1ed760;

$btnclr1: #343434;
$btnclr1-hover: #3e3e3e;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;